.frame
{
    width:        fit-content; 
    height:       fit-content; 
    border-width: thin; 
    border-style: inset; 
    border-color: black; 
    padding:      3px; 
    margin:       10px;
}

.calcButton
{
    width:      40px;
    padding:    3px;
    margin:     2px;
    text-align: center;
}

.calcButton-Number
{
    background-color: rgb(215, 222ffffff, 228);
}

.calcButton-Function
{
    background-color: #d3d3d3;
}

 /* needs to be used on the <td> element around the display label */
.calcDisplay
{
    width:        100%;
    height:       35px;  /* set the height explicitly so it doesn't change when we start entering text */
    padding-left:  5px;
    padding-right: 5px;
    border:     black; 
    border-style: inset; 
    border-width: thin;
}